@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,300&display=swap');

.App {
  font-family: sans-serif;
  text-align: center;
}

html {
  scroll-behavior: smooth;
  text-align: center;
}

body {
  padding-top: 45px;
}

.about,
.hobbies,
.project,
.contact {
  font-family: 'Roboto Mono', monospace;
  border-style: inset;
  border-radius: 12px;
  border: 2px solid black;
  min-height: 200vh;
}

.about > h1,.hobbies > h1,.project > h1,.contact > h1{
  font-weight: bold;
  margin: 2% 0;
}

.pic-of-me{
  margin: 2% 0;
}

.carousel{
  overflow: hidden;
  height: 480px;
  width: 600px; 
}

.carousel-item img {
  height: 480px;
  width: 600px; 
  overflow: hidden;
}

.Bicycling{
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  flex-direction: column;
}

.Bicycling > *{
  margin:2% 0;
}

.bike-journies{
  justify-content: space-between;
  flex-direction: column;
}

.bike-journies > *{
  margin: 2% 0;
}

.bike-journies > div{
  margin: 10% 0;
}

.bike-journies > .NiagraTrip, .bike-journies > .GeorgianBayTrip{
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.NiagraTripPic,.GeorgianBayTripPic{
  margin: 0 50px;
  width: 525px;
}

a.nav-padding {
  text-decoration: none;
  margin-left: 5px;
}

.mr {
  padding-left: 10px;
  vertical-align: baseline;
}

.about-me{
margin-top: 2em;
}

.my-bikes{
  margin: auto;
}

#a1{
  font-family: 'Roboto Mono', monospace;
  padding: 1em;
}

